* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(#029ae6, #029957) fixed no-repeat;
  height: 100%;
}

.section-down {
  background-image: linear-gradient(#0ff8a3, #0998ea);
  margin: 10px;
  border-radius: 30px;
  padding: 20px;
  padding-top: 5px;
}

.section-up {
  background-image: linear-gradient(#0998ea, #0ff8a3);
  margin: 10px;
  border-radius: 30px;
  padding: 20px;
  padding-top: 5px;
}

nav {
  background-color: #798999;
  position: fixed;
  width: 100%;
  top: 0%;
}

nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
  color: azure;
}

nav a:hover {
  transform: scale(1.1);
}

nav .logo {
  display: inline;
  float: left;
}

#home,
#about-me,
#education,
#experience,
#projects,
#blogs,
#published-papers {
  overflow: hidden;
}

#home {
  display: block;
  margin-top: 50px;
}

#home div:first-child {
  width: 30%;
  height: 200px;
  float: left;
  margin: 20px;
  margin-left: 50px;
}
#home div:last-child {
  width: 50%;
  float: left;
}

#home img {
  max-width: 90%;
}
#about-me {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

#about-me div:first-child {
  width: 95%;
  float: center;
  margin: 20px;
}

#about-me img {
  max-width: 90%;
}

#about-me p {
  text-align: center;
}

#education .border img {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  width: 30%;
}

#education .uni {
  overflow: hidden;
  padding: 10px;
  width: 60%;
}

.job img {
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.job div {
  overflow: hidden;
  padding: 10px;
}

#projects {
  text-align: center;
}

.project {
  border-radius: 10%;
  width: 30%;
  height: 350px;
  margin: 10px;
  margin-left: 20px;
  float: left;
  background-color: rgb(59, 108, 151);
}

.project .content {
  padding: 10px;
}

.project p {
  font-size: 15px;
  line-height: 1.5;
}

.project img {
  width: 200px;
  height: 100px;
  padding-top: 20px;
}

h1 {
  text-align: center;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 70px;
}

h2 {
  font-size: 40px;
}
#home h3 {
  font-size: 30px;
}

.border,
.job {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(59, 108, 151);
  padding: 20px;
  height: auto;
  margin: 10px;
}

ul {
  list-style: outside;
  padding-left: 20px;
  margin: 10px;
  line-height: 1.5;
}

#blogs article img {
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

#blogs .content {
  overflow: hidden;
  padding: 10px;
}

#published-papers div {
  position: relative;
}

.read-more {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #0a171e;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
}

footer {
  display: block;
  color: white;
  background-color: black;
  text-align: center;
  padding: 30px;
}

footer div div {
  color: azure;
  display: flex;
  justify-content: space-around;
}
